{% extends 'navigation.html' %}
{% load static %}
{% block body %}



<div class="container" style="color:white">
    <div class="row">
        {% comment %} <div class="col-md-6"></div> {% endcomment %}
        <div class="col-md-6">
            <div class="container" style="margin-top:2%">
               

<h3>CONTACT US</h3><hr>

    <p style="color:black">Email ID : Example@gmail.com</p>
    <p style="color:black">Contact : +91 XXXXXXXXXX</p>
    <p style="color:black">Address : Karnataka</p>
    <p style="color:black">Office Hours : 10:00 am to 9:00 pm</p>

<div class="row">
    <div class="col-md-2">
         <div class="transparentbox1">
        <p id="circle"><i class="fa fa-facebook" style="color:black; weight:500px"></i>
        </p></div>
    </div>
    <div class="col-md-2">
         <div class="transparentbox1">
        <p id="circle"><i class="fa fa-telegram" style="color:black;"></i>
        </p></div>
    </div>
    <div class="col-md-2">
         <div class="transparentbox1">
        <p id="circle"><i class="fa fa-google-plus-official" style="color:black;"></i>
        </p>
         </div>
    </div>
</div></div></div></div></div></div>

{% endblock %}